# Don't ignore .gitmodules (important for submodule tracking)
!.gitmodules

# Don't ignore the .gitupdate folder itself
!.gitupdate/

# But especially include gitignore and README.md
!/.gitignore
!README.md

# Ignore all files inside .gitupdate (files starting with a dot)
.gitupdate/*

# Unignore all batch files inside .gitupdate
!.gitupdate/*.bat

# Ignore Visual Studio configuration files (local-specific)
.vsconfig
.vs/

# Ignore specific Unity and project files (local environment specific)
.idea/
*.sln
*.csproj
Library/
Logs/
Packages/
UserSettings/

# Ignore anything we specifically flag as wanting to exclude!
# Useful for things like local testing.
*.IGNORE.*

